 /*Default*/
 
 .nav-main {
     display: flex;
     align-items: center;
     margin-left: 5%;
     margin-right: 5%;
 }
 
 .nav-logo {
     margin-right: auto;
 }
 
 .right-nav {
     display: flex;
     align-items: center;
     position: sticky;
 }
 
 .right-nav li {
     margin-left: 20px;
     display: inline;
 }
 
 .tuitt-button {
     color: white;
     font-weight: bold;
     background-color: #c2195b;
     font-size: 1rem;
     border-radius: 25px;
     padding: 1rem;
 }
 
 #bg-image {
     background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
     background-size: cover;
     background-position: center center;
     margin-bottom: 50px;
 }
 
 .front-bg {
     background-color: rgb(0, 0, 0, 0.5);
     position: relative;
     color: white;
 }
 
 .apply-button {
     color: white;
     font-weight: bold;
     background-color: #c2195b;
     font-size: 1rem;
     border-radius: 25px;
     padding: 1rem;
     margin-right: 5%;
 }
 
 .container {
     text-align: right;
 }
 
 .title,
 .title-2 {
     font-family: 'Zilla Slab' !important;
     display: block;
     margin: 50px 10%;
 }
 
 .subtitle {
     font-size: 1.33rem;
     font-family: "Open Sans";
     color: white;
     text-align: right;
     width: 45%;
     margin-left: auto;
     margin-right: 5%;
     text-indent: 35%;
 }
 
 .title {
     font-size: 3em;
     color: white;
     text-align: right;
     width: 50%;
     margin-left: auto;
     margin-right: 5%;
     text-indent: 35%;
 }
 
 .intro-description {
     margin: 50px 5%;
     text-align: left;
 }
 
 .pre-footer {
     background-color: #f7fbfb;
 }
 
 .pre-footer,
 .intro {
     text-align: center;
 }
 
 .book-button {
     background-color: #336589;
     color: white;
     font-weight: bold;
     font-size: 1rem;
     border-radius: 25px;
     padding: 1rem;
     margin: 30px 5%;
 }
 
 .footer {
     text-align: center;
 }
 
 .footer span {
     padding: 0px 20px 0 20px;
     font-size: 1rem;
 }